@using GameStore.Domain.Entities;
@model IEnumerable<Product>

@{
    ViewBag.Title = "Produkty";
}
@if (@Session["UserId"] != null)
{
    <h3>Zalogowany @Session["Login"] @Html.ActionLink("Wyloguj", "Logout", "Login");</h3>
}

<h2>Lista produktów</h2>




@foreach (var p in Model)
{
    <div>
        <h3>@p.Name --- @p.Price.ToString("c")</h3>
        @p.Description
        <br/>
        @Html.ActionLink("Szczegóły", "Details", new { id = p.ProductId })
    </div>
}

<hr/>
@Html.ActionLink("Dodaj", "Add")
