@using GameStore.Domain.Entities;

@model IEnumerable<Product>
@{
    ViewBag.Title = "Produkty";
}

<h2>Lista produktów</h2>

<table class="table table-striped">
    <thead>
        <tr class="row">
            <th class="col-lg-3">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-lg-2">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="col-lg-5">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <td class="col-lg-2"></td>
        </tr>
    </thead>
    <tbody>
        <tr class="row">
            @foreach (var p in Model)
            {
                <td class="col-lg-3">
                    @p.Name
                </td>
                <td class="col-lg-2">
                    @p.Price.ToString("c")
                </td>
                <td class="col-lg-5">
                    @p.Description
                </td>
                <td class="col-lg-2">
                    @Html.ActionLink("Szczegóły", "Details", new { id = p.Id }, new { @class = "btn btn-info pull-right" })
                </td>
            }
        </tr>
    </tbody>
</table>

<hr/>
@Html.ActionLink("Dodaj", "Add", "Product", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Przeglad aukcji", "List" ,"Auction", null, new { @class = "btn btn-primary" })
