
@{
    ViewBag.Title = "Szczegóły aukcji";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var offers = Model.Offers;
    var products = Model.Products;
}

@model GameStore.Domain.Entities.Auction

<div class="container">
    <h3>Szczegóły aukcji</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Model.CreationDate
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Model.Owner
        </dd>
    </dl>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            @Html.DisplayNameFor(auction => auction.Products.First().Name)
        </div>
        <div class="col-lg-4">
            @Html.DisplayNameFor(auction => auction.Products.First().Description)
        </div>
        <div class="col-lg-4">
            @Html.DisplayNameFor(auction => auction.Products.First().Price)
        </div>
        <div class="col-lg-4">
            @Html.DisplayNameFor(auction => auction.Products.First().Category)
        </div>
    </div>
    <div class="row">
        @foreach (var product in products)
        {
            <div class="col-lg-6">
                @product.Name
            </div>
            <div class="col-lg-6">
                @product.Description
            </div>

            <div class="col-lg-6">
                @product.Price.ToString("c")
            </div>
            <div class="col-lg-6">
                @product.Category
            </div>
        }
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            @Html.DisplayNameFor(auction => auction.Offers.First().Price)
        </div>
        <div class="col-lg-4">
            @Html.DisplayNameFor(auction => auction.Offers.First().Owner)
        </div>
        <div class="col-lg-4">
            @Html.DisplayNameFor(auction => auction.Offers.First().Accepted)
        </div>
        <div class="col-lg-4">
            Akcje
        </div>
    </div>
    <div class="row">
        @foreach (var offer in offers)
        {
            <div class="col-lg-4">
                @offer.Price.ToString("c")
            </div>
            <div class="col-lg-4">
                @offer.Owner
            </div>
            <div class="col-lg-4">
                @offer.Accepted.ToString()
            </div>
            <div class="col-lg-4">
                @* @Html.ActionLink("Szczegóły", "Details", "Offer", new { id = offer.OfferId }, null) *@
            </div>
        }
    </div>
</div>


@* @Html.ActionLink("Szczegóły", "Add", "Offer", null, new { @class = "btn btn-primary" }) *@