
@{
    ViewBag.Title = "Szczegóły aukcji";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var offers = Model.Offers;
    var products = Model.Products;
}

@model GameStore.Domain.Entities.Auction

<h3>Szczegóły aukcji</h3>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd>
        @Model.Description
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CreationDate)
    </dt>
    <dd>
        @Model.CreationDate
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Owner)
    </dt>
    <dd>
        @Model.Owner.Name @Model.Owner.Surname
    </dd>
</dl>

<div class="panel panel-default" style="margin-top: 40px;">
    <div class="panel-heading">Produkty w ramach aukcji</div>

    <table class="table table-striped">
        <thead>
            <tr class="row">
                <th class="col-lg-3">
                    @Html.DisplayNameFor(auction => auction.Products.First().Name)
                </th>
                <th class="col-lg-3">
                    @Html.DisplayNameFor(auction => auction.Products.First().Description)
                </th>
                <th class="col-lg-3">
                    @Html.DisplayNameFor(auction => auction.Products.First().Price)
                </th>
                <th class="col-lg-3">
                    @Html.DisplayNameFor(auction => auction.Products.First().Category)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="row">
                @foreach (var product in products)
                {
                    <td class="col-lg-3">
                        @product.Name
                    </td>
                    <td class="col-lg-3">
                        @product.Description
                    </td>

                    <td class="col-lg-3">
                        @product.Price.ToString("c")
                    </td>
                    <td class="col-lg-3">
                        @product.Category
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default" style="margin-top: 30px;">
    <div class="panel-heading">Oferty dostawców</div>

    <table class="table table-striped">
        <thead>
            <tr class="row">
                <th class="col-lg-3">
                    @Html.DisplayNameFor(auction => auction.Offers.First().Price)
                </th>
                <th class="col-lg-3">
                    @Html.DisplayNameFor(auction => auction.Offers.First().Owner)
                </th>
                <th class="col-lg-3">
                    @Html.DisplayNameFor(auction => auction.Offers.First().Accepted)
                </th>
                <th class="col-lg-3">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="row">
                @foreach (var offer in offers)
                {
                    <td class="col-lg-3">
                        @offer.Price.ToString("c")
                    </td>
                    <td class="col-lg-3">
                        @offer.Owner
                    </td>
                    <td class="col-lg-3">
                        @offer.Accepted.ToString()
                    </td>
                    <td class="col-lg-3">
@*                        @Html.ActionLink("Szczegóły", "Details", "Offer", new { id = offer.Id }, null)*@
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>

<hr/>
@Html.ActionLink("Złóż ofertę", "Add", "Offer", null, new { @class = "btn btn-primary" })