
@{
    ViewBag.Title = "Lista aukcji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<GameStore.Domain.Entities.Auction>

<h2>Aukcje</h2>

@if (@ViewBag.Uss)
        {

        }
        else
        {
    <h2>@Html.ActionLink("Dodaj", "Add", null, new { @class = "btn btn-primary" })</h2>
}


<table class="table table-striped">
    <thead>
        <tr class="row">
            <th class="col-lg-2">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="col-lg-4">
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th class="col-lg-4">
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <td class="col-lg-2"></td>
        </tr>
    </thead>
    <tbody>
        <tr class="row">
            @foreach (var auction in Model)
            {
            <tr class="row">
                <td class="col-lg-2">
                    @auction.Id
                </td>
                <td class="col-lg-4">
                    @auction.Owner.Name @auction.Owner.Surname
                </td>
                <td class="col-lg-4">
                    @auction.CreationDate
                </td>
                <td class="col-lg-2">
                    @Html.ActionLink("Szczegóły", "Details", new { id = auction.Id }, new { @class = "btn btn-info pull-right" })
                </td>
            </tr>
            }
            </tr>
        </tbody>
</table>
@Html.ActionLink("Przeglad produktów", "List", "Product", null, new { @class = "btn btn-primary" })
