@model IEnumerable<GameStore.Domain.Entities.Offer>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Auction.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auction.Owner.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auction.Owner.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accepted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.Owner == Session["User"])
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Auction.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auction.Owner.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auction.Owner.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accepted)
        </td>
    </tr>
    }
}

</table>
